@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Roboto&display=swap");
@font-face {
    font-family: classico;
    src: url('../fonts/classico-webfont.woff');
}
@font-face {
    font-family: classico-bold;
    src: url('../fonts/classico-bold-webfont.woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html[lang="ar"] * {
  font-family: "Almarai", sans-serif;
}

/* ==== CSS VARIABLES ==== */
:root {
  --primary-color: #fafafa;
  --btn-background: #ffffff;
  --text-content: #ffffff;
  --subtext-content: #a6acb2;
  --fixed-header-height: 4.375rem;
}

/* ==== RESET HTML ==== */
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color-scheme: light dark;
  color: var(--primary-color);
  background-color: #0a0100;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  background-color: var(--btn-background);
  border: none;
  outline: none;
  cursor: pointer;
}
h1 {
  text-transform: uppercase;
}

/* ==== CONTAINER ==== */
.container {
  width: 100%;
}

/* ==== HEADER ==== */
.header {
  width: 90%;
  height: var(--fixed-header-height);
  position: absolute;
  top: 4em;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 1.7rem;
  background: var(--primary-color);
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    transform: unset;
  }
}

/* ==== NAV ==== */
.nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ==== LOGO ==== */
.logo img {
  width: 100px;
}
.nav button {
  padding: 0.5em;
  border-radius: 50%;
  background-color: transparent;
}
.nav button:hover {
  background-color: #000;
  transition: all ease-out 0.3s;
}
.nav button:hover img {
  filter: invert(1);
}

/* ====  WRAPPER ==== */
.wrapper {
  width: 100%;
  height: 100%;
}
.grid-cols-2 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
@media screen and (max-width: 768px) {
  body {
    overflow-y: auto;
  }
  .grid-cols-2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
  }
  .grid-item-1 {
    padding-top: 0rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    text-align: center;
    padding-bottom: 3em;
  }
  .grid-item-2 {
    max-height: 110vmin;
  }
  .grid-item-1 .solid {
    margin: 3em auto;
  }
  .grid-item-1 .info-text {
    max-width: 90%;
    margin: 0 auto;
  }
  .btn_wrapper {
    justify-content: center;
    align-items: center;
  }
}

.grid-item-1 {
  padding-top: 10em;
  padding-inline-start: 8vw;
}
.main-heading1 {
  font-size: clamp(16px, calc(1rem + ((1vw - 3.2px) * 1)), 32px);
  line-height: 1.2;
  letter-spacing: 0.4em;
}

html[lang="ar"] .main-heading1,
.main-heading2,
.main-heading3 {
  letter-spacing: unset !important;
}

.main-heading2 {
  font-family: classico-bold;
  font-size: clamp(28px, calc(1.75rem + ((1vw - 3.2px) * 2.625)), 70px);
  line-height: 1.2;
  letter-spacing: 0.2em;
}
.main-heading3 {
  font-family: classico;
  font-size: clamp(20px, calc(1.25rem + ((1vw - 3.2px) * 1.625)), 46px);
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0.2em;
}
.solid {
  width: 134px;
  height: 0.1rem;
  background-color: var(--subtext-content);
  margin: 3em 0 1.5em 0;
}
.info-text {
  font-size: clamp(14px, calc(0.875rem + ((1vw - 14.4px) * -0.1786)), 16px);
  margin-top: 2em;
  line-height: 30px;
  color: var(--subtext-content);
  max-width: 30vmax;
}
.btn_wrapper {
  margin-top: 2em;
  display: flex;
  width: 100%;
}
.btn {
  width: 180px;
  height: 50px;
  background-color: var(--primary-color);
  display: block;
  font-size: clamp(16px, calc(1rem + ((1vw - 14.4px) * -0.1786)), 18px);
  color: #0a0100;
  text-transform: capitalize;
  border-radius: 7px;
  letter-spacing: 1px;
  transition: 0.4s;
}
.btn span {
  font-weight: bold;
}
.btn:hover {
  transform: translateY(-3px);
  background-color: #0a0100;
  color: var(--text-content);
  border: #fafafa solid 0.15rem;
}
.btn-label {
  color: var(--subtext-content);
  margin-top: 0.5em;
  font-size: 12px;
  font-size: clamp(12px, calc(0.75rem + ((1vw - 14.4px) * -0.1786)), 14px);
}
.info-container {
  margin-top: 3.5rem;
  color: var(--subtext-content);
}
.info-container p {
  margin-top: 0.4em;
  font-weight: bold;
  font-size: clamp(14px, calc(0.875rem + ((1vw - 14.4px) * -0.1786)), 16px);
}
.grid-item-2 {
  width: 100%;
  height: 100%;
}

/* ====  SLIDER ==== */
.slider-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.slider {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}
.slide {
  min-width: 100%;
  height: 100%;
}
.image-container {
  width: 100%;
  height: 100vh;
}
.image-container img {
  width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .image-container img {
    height: 100%;
  }
}
.dots-container {
  position: absolute;
  bottom: 2rem;
  right: 8%;
  display: flex;
  gap: 1.2rem;
}
@media screen and (min-width: 768px) {
  html[lang="ar"] .dots-container {
    right: unset;
    left: 8%;
  }
}
@media screen and (max-width: 768px) {
  .dots-container {
    right: 50%;
    transform: translateX(50%);
  }
}
.dot {
  width: 0.65rem;
  height: 0.65rem;
  border-radius: 50%;
  background-color: gray;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dot.active {
  background-color: white;
}
.dot.active div {
  width: 0.5rem;
  height: 0.5rem;
  background-color: white;
  border-radius: 50%;
}

/* ====  POPUP ==== */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 20;
}
.popup-content {
  background-color: white;
  padding: 30px 20px;
  border-radius: 10px;
  width: 446px;
  color: #0a0100;
  position: relative;
  margin: 0 1rem;
}
.popup-content .form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.75em;
}
.popup-content h2 {
  font-weight: bold;
}
.popup-content p {
  max-width: 90%;
  padding-bottom: 1.5em;
}
.popup-content .close {
  font-size: 30px;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}
label {
  margin-top: 10px;
}
input {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
form button {
  margin-top: 20px;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
form button:hover {
  background-color: #333;
}
